/*
 * CUPS stylesheet in addition to bootstrap CSS...
 */

/* Basic site appearance */
body {
  font-size: 20px;
  line-height: 25px;
  margin: 0px;
}

pre {
  background: rgba(127,127,127,0.25);
  border-left: dotted 2px rgb(127,127,127);
  padding: 0.5em 2em;
}

/* Colors */
.btn-auto {
  background: rgba(159,159,159,0.5);
  color: black;
}
.btn-auto:hover {
  background: rgba(159,159,159,0.6);
  color: black;
}

/* Logos */
img.logo {
  content: url(../images/cups.png);
  height: 32px;
  width: 32px;
}

img.logo-full {
  content: url(../images/cups-full.png);
  height: 128px;
  width: 424px;
}

img.logo-full-32 {
  content: url(../images/cups-full.png);
  height: 32px;
  width: 106px;
}

img.logo-mascot {
  content: url(../images/cups-mascot.svg);
  width: 100%;
}

/* Layout */
body > .container-fluid:first-of-type {
  padding-top: 52px;
}
body > .container-fluid:last-of-type {
  padding-bottom: 92px;
}
body > .container-fluid:nth-of-type(odd) {
  background: rgba(0,123,255,0.1);
}
body > .container-fluid:first-of-type .col {
  font-size: 125%;
  line-height: 1.4;
  padding: 30px 50px;
}
.col {
  padding: 5px 50px;
}
.col-section {
  padding: 30px 50px;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: #eee;
  }
  pre {
    color: #eee;
  }
  .container-fluid:nth-of-type(odd) {
    background: rgba(0,123,255,0.3);
  }
  .btn-auto {
    background: rgba(255,255,255,0.6);
    border: solid 1px #cccccc;
    color: black;
  }
  .btn-auto:hover {
    background: rgba(255,255,255,0.5);
    border: solid 1px #cccccc;
    color: black;
  }
  img.logo-mascot {
    content: url(../images/cups-mascot-dark.svg);
  }
}


/* Print overrides */
@media print {
  /* Bootstrap adds URLs after every link, stop doing that... */
  a[href]:after {
    content: none !important;
  }

  /* and don't print any form controls, either */
  button, input, option, select {
    display: none !important;
  }
}
