<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libressl_native" version="3.7.3.0" targetFramework="native" />
  <package id="libressl_native.redist" version="3.7.3.0" targetFramework="native" />
  <package id="zlib_native" version="1.2.11" targetFramework="native" />
  <package id="zlib_native.redist" version="1.2.11" targetFramework="native" />
</packages>