Language: Cpp
IndentWidth: 2
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Allman
UseTab: Never
TabWidth: 8
ColumnLimit: 100
PointerAlignment: Right
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignAfterOpenBracket: Align
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: All
BinPackArguments: false
AllowShortFunctionsOnASingleLine: None
SpacesInConditionalStatement: false
SpacesInSquareBrackets: false
