<H1 CLASS="title">{job_id?移動作業 {job_id}:移動全部作業}</H1>

<P>{job_id?<A HREF="/jobs/{job_id}">作業 {job_id}</A>:全部作業}已移動至
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A>。</P>

