{#job_id=0?:
<TABLE CLASS="list" SUMMARY="作業列表">
<THEAD>
<TR><TH>ID</TH><TH>名稱</TH><TH>使用者</TH><TH>大小</TH><TH>頁數</TH><TH>狀態</TH><TH>操作</TH></TR>
</THEAD>
<TBODY>
{[job_id]
<TR VALIGN="TOP">
<TD><A HREF="{job_printer_uri}">{job_printer_name}</A>-{job_id}{?phone? ({phone}):}&nbsp;</TD>
<TD>{?job_name=?未知:{job_name}}&nbsp;</TD>
<TD>{?job_originating_user_name=?隱藏:{job_originating_user_name}}&nbsp;</TD>
<TD>{job_k_octets}k&nbsp;</TD>
<TD>{job_impressions_completed=0?未知:{?job_impressions_completed}}&nbsp;</TD>
<TD>{job_state=3?等待中，自<BR>{?time_at_creation=?未知:{time_at_creation}} 起:{job_state=4?已保留，自<BR>{?time_at_creation=?未知:{time_at_creation}} 起:
{job_state=5?處理中，自<BR>{?time_at_processing=?未知:{time_at_processing}} 起:{job_state=6?已停止:
{job_state=7?已於<BR>{?time_at_completed=?未知:{time_at_completed}} 取消:{job_state=8?已中止:已於<BR>{?time_at_completed=?未知:{time_at_completed}} 完成}}}}}}&nbsp;{job_printer_state_message?<BR>
<EM>"{job_printer_state_message}"</EM>:}</TD>
<TD>
{job_preserved>0?{job_state>5?
<FORM ACTION="/jobs/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="restart-job"><INPUT TYPE="HIDDEN" NAME="job_id" VALUE="{job_id}"><INPUT TYPE="HIDDEN" NAME="job_printer_uri" VALUE="{job_printer_uri}"><INPUT TYPE="SUBMIT" VALUE="重新列印"></FORM>:}:}
{job_state=4?{job_hold_until=auth-info-required?等待認證。
:<FORM ACTION="/jobs/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="release-job"><INPUT TYPE="HIDDEN" NAME="job_id" VALUE="{job_id}"><INPUT TYPE="HIDDEN" NAME="job_printer_uri" VALUE="{job_printer_uri}">
<INPUT TYPE="SUBMIT" VALUE="釋放作業"></FORM>:}:}
{job_state=3?
<FORM ACTION="/jobs/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="hold-job"><INPUT TYPE="HIDDEN" NAME="job_id" VALUE="{job_id}"><INPUT TYPE="HIDDEN" NAME="job_printer_uri" VALUE="{job_printer_uri}">
<INPUT TYPE="SUBMIT" VALUE="掛起作業"></FORM>:}
{job_state<7?
<FORM ACTION="/jobs/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="cancel-job"><INPUT TYPE="HIDDEN" NAME="job_id" VALUE="{job_id}"><INPUT TYPE="HIDDEN" NAME="job_printer_uri" VALUE="{job_printer_uri}">
<INPUT TYPE="SUBMIT" VALUE="取消作業"></FORM>
<FORM ACTION="/jobs/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="move-job"><INPUT TYPE="HIDDEN" NAME="job_id" VALUE="{job_id}"><INPUT TYPE="SUBMIT" VALUE="移動作業"></FORM>:}
&nbsp;</TD>
</TR>
}
</TBODY>
</TABLE>
}
