<H1>{is_class?列印機組:列印機} {printer_name} 設為預設</H1>

<P>{is_class?列印機組:列印機} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
已設為伺服器預設列印機。</P>

<BLOCKQUOTE><B>注意:</B> <TT>lpoptions</TT> 命令設定的各使用者預設會覆蓋此伺服器預設設定。</BLOCKQUOTE>
