{#printer_name=0?:
<TABLE CLASS="list" SUMMARY="Lista klas">
<THEAD>
<TR><TH>Nazwa kolejki</TH><TH>Opis</TH><TH>Lokalizacja</TH><TH>Członkowie</TH><TH>Stan</TH></TR>
</THEAD>
<TBODY>
{[printer_name]
<TR><TD><A HREF="{printer_uri_supported}">{printer_name}</A></TD><TD>{printer_info}</TD><TD>{printer_location}</TD><TD>{?member_uris=?Brak:{member_uris}}</TD><TD>{printer_state=3?Oczekiwanie:{printer_state=4?Przetwarzanie:Zatrzymana}}{printer_state_message? - "{printer_state_message}":}</TD></TR>
}
</TBODY>
</TABLE></DIV>}
