<P><B>Błąd:</B> Powyższe opcje się wykluczają:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Proszę zmienić jedną lub więcej opcji aby rozwiązać problem.</P>
