<H2 CLASS="title">Wyłączanie {is_class?klasy:drukarki} {printer_name}</H2>

<P>{is_class?Klasa:Drukarka} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
została wyłączona.</P>
