<H2 CLASS="title">Akceptowanie zadań na {is_class?klasie:drukarce} {printer_name}</H2>

<P>{is_class?Klasa:Drukarka} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
teraz akceptuje zadania.</P>
