<H2 CLASS="title">Ustawianie {is_class?klasy:drukarki} {printer_name} jako domyślnej</H2>

<P>{is_class?Klasa:Drukarka} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
została ustawiona jako domyślna na serwerze.</P>

<BLOCKQUOTE><B>Informacja:</B> Każde ustawienie domyślne zmodyfikowane przez użytkownika za pomocą
komendy <TT>lpoptions</TT> nadpisze teraz ustawioną
opcję.</BLOCKQUOTE>
