<H2 CLASS="title">Anulowanie wszystkich zadań na {is_class?Class:Printer} {printer_name}</H2>

<P>Wszystkie zadania na {is_class?klasie:drukarce} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
zostały anulowane.</P>
