{#printer_name=0?:
<TABLE CLASS="list" SUMMARY="类列表">
<THEAD>
<TR><TH>队列名</TH><TH>说明</TH><TH>位置</TH><TH>成员</TH><TH>状态</TH></TR>
</THEAD>
<TBODY>
{[printer_name]
<TR><TD><A HREF="{printer_uri_supported}">{printer_name}</A></TD><TD>{printer_info}</TD><TD>{printer_location}</TD><TD>{?member_uris=?无:{member_uris}}</TD><TD>{printer_state=3?空闲:{printer_state=4?打印中:已暂停}}{printer_state_message? - "{printer_state_message}":}</TD></TR>
}
</TBODY>
</TABLE></DIV>}
