<H1 CLASS="title">{title} 在 {printer_name} 上</H1>

<P>{job_state>5?:<IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16"
ALIGN="ABSMIDDLE" ALT="繁忙指示器"> }打印命令作业
{job_state=3?待处理：{job_state=4?已暂停：
{job_state=5?处理中：{job_state=6?已停止：
{job_state=7?已取消：{job_state=8?已中止：已完成}}}}}}{job_state=9?:{job_printer_state_message?,
<EM>"{job_printer_state_message}"</EM>:}}</P>
