<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:所有文档}}中搜索:</B> <INPUT
TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40" PLACEHOLDER=""
AUTOSAVE="org.cups.help" RESULTS="20">
<INPUT TYPE="SUBMIT" NAME="SEARCH" VALUE="搜索">
<INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="清除"></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar"><TABLE CLASS="inset" SUMMARY="目录">
<TR><TD>

<H3 CLASS="title">在线帮助文档</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">所有文档</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</TD></TR>
</TABLE></DIV>

{QUERY?<P>{HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:所有文档}}的搜索结果\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (位于 <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>未找到匹配项。</P>}
<HR NOSHADE>:}
{HELPTITLE?<FORM ACTION="/help/{?HELPFILE}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="PRINTABLE" VALUE="YES"><INPUT TYPE="SUBMIT" VALUE="打印版本"></FORM>:

<H1>在线帮助</H1>

<P>这是 CUPS 的在线帮助界面。
要显示帮助信息，请在上方输入搜索词，或点击文档链接。</P>

<P>若您是 CUPS 新手，请阅读 "<a
href="/help/overview.html">CUPS 概述</a>" 页面。</P>

<P><A HREF="https://openprinting.github.io/cups/">CUPS 主页</A> 还提供
用户讨论论坛、常见问题、提交缺陷报告和功能请求的表单等资源。</P>}
