<H1 CLASS="title">{job_id?移动作业 {job_id}:移动所有作业}</H1>

<P>{job_id?<A HREF="/jobs/{job_id}">作业 {job_id}</A>:所有作业} 已移动到
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A>。</P>
