<H2 CLASS="title">{job_id?作业 {job_id} 移动作业:移动作业}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">作业 {job_id}</A>:所有作业} 已
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A> 已移动。</P>

