<H1>将 {is_class?Class:Printer} {printer_name} 设置为默认</H1>

<P>{is_class?Class:Printer} <A HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
已被设置为服务器上的默认打印机。</P>

<BLOCKQUOTE><B>注意：</B> 通过 <TT>lpoptions</TT> 命令设置的任何用户默认值将覆盖此默认设置。</BLOCKQUOTE>