<FORM ACTION="/{SECTION}/{?SEARCH_DEST}" METHOD="GET">
{WHICH_JOBS?<INPUT TYPE="HIDDEN" NAME="WHICH_JOBS" VALUE="{WHICH_JOBS}">:}
{ORDER?<INPUT TYPE="HIDDEN" NAME="ORDER" VALUE="{ORDER}">:}

<P ALIGN="CENTER"><B>在
{SEARCH_DEST?{SEARCH_DEST}:{SECTION=classes?类别:{SECTION=jobs?作业:打印机}}}中搜索:</B>
<INPUT TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40"  PLACEHOLDER="" AUTOSAVE="org.cups.{SECTION}" RESULTS="20"> <INPUT
TYPE="SUBMIT" VALUE="搜索"> <INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="清除"></P>

</FORM>