<H2 CLASS="title">Neka jobb på {is_class?Class:Printer} {printer_name}</H2>

<P>{is_class?Class:Printer} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
tar inte längre emot några jobb.</P>
