<H2 CLASS="title">Ställ in {is_class?Class:Printer} {printer_name} As Default</H2>

<P>{is_class?Class:Printer} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
har gjorts till standardskrivare på servern.</P>

<BLOCKQUOTE><B>Obs</B>: Alla användarstandarder som har ställts in via
kommandot <TT>lpoptions</TT> kommer att åsidosätta denna standard.</BLOCKQUOTE>
