<H2 CLASS="title">Ställ in standardalternativ för {printer_name}</H2>

<P>{OP=set-class-options?Class <A HREF="/classes/{printer_name}">:Skrivaren <A HREF="/printers/{printer_name}">}{printer_name}</A>
har ställt in standardalternativ.
