{#printer_name=0?:
<TABLE CLASS="list" SUMMARY="Skrivarlista">
<THEAD>
<TR><TH>Könamn</TH><TH>Beskrivning</TH><TH>Plats</TH><TH>Tillverkare och modell</TH><TH>Status</TH></TR>
</THEAD>
<TBODY>
{[printer_name]
<TR><TD><A HREF="{printer_uri_supported}">{printer_name}</A></TD><TD>{printer_info}</TD><TD>{printer_location}</TD><TD>{printer_make_and_model}</TD><TD>{printer_state=3?Overksam:{printer_state=4?Behandlar:Pausad}}{printer_state_message? - "{printer_state_message}":}</TD></TR>
}
</TBODY>
</TABLE></DIV>}
