/* Layout CSS */
.cups-header {
  background: rgba(46,46,46,.9);
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  color: white;
  left: 0;
  margin-bottom: 20px;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
.cups-header ul {
  list-style: none;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 5px;
  -webkit-padding-start: 0;
}
.cups-header ul li {
  float: left;
}
.cups-header a {
  display: block;
  padding: 5px 10px !important;
}
.cups-header a:link, .cups-header a:visited {
  color: white !important;
  text-decoration: none !important;
}
.cups-header a:hover {
  background: #cccccc !important;
  color: #333333 !important;
  text-decoration: none !important;
}
.cups-header a.active {
  background: white !important;
  box-shadow: rgba(0,0,0,0.1) 0 0 10px 0 inset;
  color: black !important;
  text-decoration: none !important;
}

.cups-body {
  padding: 40px 20px;
}
.row .cups-body {
  padding: 0;
}

.cups-footer {
  background: rgba(46,46,46,.9);
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.25);
  color: #cccccc;
  font-size: 10px;
  height: 20px;
  left: 0;
  padding: 10px 10px 3px;
  position: fixed;
  width: 100%;
}
.cups-footer a:link, footer a:hover, .cups-footer a:visited {
  color: white !important;
  text-decoration: none !important;
}

.row {
  width: 100%;
  *zoom: 1;
}
.row:after {
  clear: both;
}

.row .thirds {
  float: left;
  margin-left: 0.5%;
  margin-right: 0;
  padding-bottom: 40px;
  width: 33%;
}
.row .thirds:first-child {
  margin-left: 0;
}

.row .halves {
  float: left;
  margin-left: 0.5%;
  margin-right: 0;
  padding-bottom: 40px;
  width: 49.75%;
}
.row .halves:first-child {
  margin-left: 0;
}
.mobile {
  display: none;
}
.no-mobile {
  display: inherit;
}

/* Appearance CSS */
body {
  background: white;
  color: black;
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, td, th {
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }

kbd {
  color: #006600;
  font-family: monaco, courier, monospace;
  font-weight: bold;
}

pre {
  font-family: monaco, courier, monospace;
}

blockquote {
  background: rgba(191,191,191,0.1);
  border-left: solid 2px #777;
  margin: 1em 0;
  padding: 10px;
}

blockquote ol li {
  margin-left: -1em;
}

pre.command, pre.example {
  padding: 10px 20px;
}

p.example {
  font-style: italic;
  margin-left: 36pt;
}

dl.man dd {
  margin-left: 5em;
}

DL.man DT {
  margin-left: 0;
}

pre.man {
  margin: 0;
}

pre.command EM, pre.example EM {
  color: #3f0000;
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
}

p.command {
  color: #7f0000;
  font-family: monaco, courier, monospace;
  margin-left: 36pt;
}

p.formula {
  font-style: italic;
  margin-left: 36pt;
}

a img {
  border: none;
}

a:link:hover img {
  background: #f0f0f0;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

a:link, a:visited {
  font-weight: inherit;
  text-decoration: none;
  color: #000099;
}

a:link:hover, a:visited:hover, a:active {
  text-decoration: underline;
  color: #990099;
}

table.page {
  border: none;
  border-collapse: collapse;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

td.cups-body {
  height: 100%;
  vertical-align: top;
}

td.trailer {
  background: #f0f0f0;
  border: solid thin #e0e0e0;
  color: #666666;
  font-size: 80%;
  padding: 5px;
}

td.trailer a {
  color: #666699;
}

form {
  display: inline;
}

input[type="text"], textarea {
  font-family: monaco, courier, monospace;
}

input[type="image"] {
  border: none;
  padding: 2pt;
  vertical-align: bottom;
}

sub, sup {
  font-size: 50%;
}

tr.data, td.data, tr.data td {
  margin-top: 10pt;
  padding: 5pt;
  border-bottom: solid 1pt #999999;
}

tr.data th {
  border-bottom: solid 1pt #999999;
  padding-top: 10pt;
  padding-left: 5pt;
  text-align: left;
}

div.table table {
  border: solid thin rgba(191,191,191,.3);
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

div.table caption {
  caption-side: top;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

div.table table td {
  background: white;
  border: solid thin rgba(191,191,191,.45);
  padding: 5pt 10pt 0;
}

div.table table th {
  background: rgba(191,191,191,.15);
  border: none;
  border-bottom: solid thin rgba(191,191,191,.3);
}

div.figure table {
  margin-left: auto;
  margin-right: auto;
}

div.figure caption {
  caption-side: bottom;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

th.label {
  text-align: right;
  vertical-align: top;
}

th.sublabel {
  text-align: right;
  font-weight: normal;
}

hr {
  border: solid thin;
}

span.info {
  background: black;
  border: thin solid black;
  color: white;
  font-size: 80%;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

h2 span.info, h3 span.info, h4 span.info {
  float: right;
  font-size: 100%;
}

.conflict {
  background: red;
  color: white;
}

th.conflict {
  text-align: right;
}

h1.title {
  display: none;
}

h2.title, h3.title, .row .cups-body h2, .row .cups-body h3 {
  border-bottom: solid 2pt black;
}

table.indent {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.indent {
  border-collapse: collapse;
}

table.indent td, table.indent th {
  padding: 0;
}

table.list {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.list th {
  background: white;
  border-bottom: solid thin #cccccc;
  border-right: 2px solid rgba(191,191,191,.45);
  color: #444444;
  padding: 5px 10px 5px 12px;
  text-align: left;
  vertical-align: bottom;
  white-space: nowrap;
}

table.list th a {
  color: #4444cc;
}

table.list td {
  border-bottom: solid thin rgba(191,191,191,.45);
  padding: 5px 2px 5px 10px;
}

table.list tr:nth-child(even) {
  background: rgba(191,191,191,0.15);
}

table.list tr:nth-child(odd) {
  background: rgba(191,191,191,0.3);
}

div.sidebar {
  float: right;
  min-width: 25%;
  margin-left: 10px;
  max-width: 33%;
}

div.sidebar p.l0 {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
}

div.sidebar p.l1 {
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  text-indent: -18pt;
}

div.sidebar p.l2 {
  font-style: italic;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 0;
  margin-top: 0;
  text-indent: -18pt;
}

table.inset {
  background: #f4f4f4;
  border: thin solid rgba(191,191,191,0.5);
  margin-top: 1em;
  padding: 0;
  width: 100%;
  /* these are not implemented by all browsers, but that's ok */
  border-radius: 5px;
  -moz-border-radius: 5px;
}

table.inset caption {
  caption-side: top;
  color: #666666;
  font-size: 80%;
  margin-left: 10px;
  margin-bottom: 2px;
  text-align: left;
}

table.inset td {
  padding: 2px 5px;
}

dt {
  margin-left: 36pt;
  margin-top: 12pt;
}

dd {
  margin-left: 54pt;
}

dl.category dt {
  font-weight: bold;
}

p.summary {
  margin-left: 36pt;
  font-family: monaco, courier, monospace;
}

div.summary table {
  border: solid thin #999999;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px;
}

div.summary table td, div.summary table th {
  background: white;
  border: solid thin #999999;
  border-spacing: 0;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

div.summary table thead th {
  background: #f0f0f0;
}

div.tabs {
  height: 480px;
  overflow: hidden;
}

div.tab {
  float: left;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

/* API documentation styles... */
div.cups-body h1 {
}
div.cups-body h2 {
}
div.cups-body h3 {
}
div.cups-body h4 {
}
div.cups-body h5 {
}
div.contents {
}
div.contents h1 {
}
div.contents h2 {
}
div.contents ul.contents {
}
div.contents ul.contents li ul {
  display: none;
}

.class {
  border-bottom: solid 2px gray;
}
.constants {
}
.description {
  margin-top: 0.5em;
}
.discussion {
}
.enumeration {
  border-bottom: solid 2px gray;
}
.function {
  border-bottom: solid 2px gray;
  margin-bottom: 0;
}
.members {
}
.method {
}
.parameters {
}
.returnvalue {
}
.struct {
  border-bottom: solid 2px gray;
}
.typedef {
  border-bottom: solid 2px gray;
}
.union {
  border-bottom: solid 2px gray;
}
.variable {
}
h1, h2, h3, h4, h5, h6 {
  page-break-inside: avoid;
}
blockquote {
  page-break-inside: avoid;
}
p.code, pre, ul.code li {
  border-left: thin dotted gray;
  background: rgba(191,191,191,0.1);
}
p code, li code {
  background: rgba(191,191,191,0.3);
}
p code, li code, p.code, pre, ul.code li {
  font-family: monospace;
  hyphens: manual;
  margin: 18pt 0;
  -webkit-hyphens: manual;
  page-break-inside: avoid;
}
p.code, pre, ul.code li {
  padding: 10px;
}
p code, li code {
  padding: 2px 5px;
}
span.info {
  background: black;
  border: solid thin black;
  color: white;
  font-size: 80%;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}
h3 span.info, h4 span.info {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  float: right;
  padding: 3px 6px;
}
ul.code, ul.contents, ul.subcontents {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
ul.code li {
  margin: 0;
}
ul.contents > li {
  margin-top: 1em;
}
ul.contents li ul.code, ul.contents li ul.subcontents {
  padding-left: 2em;
}

/* iPhone/iPod touch overrides */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
       only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .mobile {
    display: inherit;
  }
  .no-mobile {
    display: none;
  }

  .cups-header {
    margin: 0;
    position: relative;
  }
  .cups-header ul li {
    float: none;
  }

  .cups-body {
    padding: 0;
  }

  .cups-footer {
    font-size: 10px;
    height: auto;
    position: relative;
  }

  .row .thirds, .row .halves {
    float: none;
    margin: 0;
    width: 100%;
  }

  div.sidebar {
    float: none;
    margin-left: 0;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }

  blockquote {
    margin: 0;
  }

  p.example {
    margin-left: 0;
  }

  pre.command, pre.example, pre.man {
    margin-left: 0;
    white-space: pre-wrap;
  }
}

/* iPad overrides */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .mobile {
    display: inherit;
  }
  .no-mobile {
    display: none;
  }
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: #ccc;
  }
  a:link, a:visited, table.list th a {
    color: #6666ff;
  }
  a:link:hover, a:visited:hover, a:active, table.list th a {
    color: #ff66ff;
  }
  hr {
    color: #666;
  }
  table.inset {
    background: #1d1d1d;
  }
  h2.title, h3.title, .row .cups-body h2, .row .cups-body h3 {
    border-bottom: solid 2pt #ccc;
  }
  div.table table td, table.list th {
    background: black;
  }
  table.list th {
    color: #666;
  }
}
