<P><B>Ошибка!</B> Следующие параметры конфликтуют:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Измените один или несколько параметров, чтобы устранить конфликт.</P>
