<H1 CLASS="title">{?title}</H1>

<P>This printer requires authorization for access.</P>

<P>Copy the following code: <STRONG>{?USER_CODE}</STRONG></P>

{?VERIFICATION_URI?<P>Then go to the following URL to authorize access: <A HREF="{VERIFICATION_URI}" TARGET="_blank">{VERIFICATION_URI}</A></P>:<P>Unable to display the authorization URL.</P>}
